<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style media="screen">
            body {
                max-width: 800px;
                margin: 0 auto;
            }
            form {
                margin-bottom: 20px;
            }
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Clientes</h1>
        </header>
        <form id="form_customer" class="container-fluid">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="id_customer">Id</label>
                    <input type="text" name="id" class="form-control" id="id_customer" placeholder="00" required>
                </div>
                <div class="form-group col-xs-4">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="form-group col-xs-4">
                    <label for="lastname">Apellidos</label>
                    <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Apellidos" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="address">Dirección</label>
                    <input type="text" name="address" class="form-control" id="address" required>
                </div>
                <div class="form-group col-xs-4">
                    <label for="city">Ciudad</label>
                    <input type="text" name="city" class="form-control" id="city" required>
                </div>
            </div>
            <button type="submit" class="btn btn-default" id="button_save">Nuevo cliente</button>
        </form>
        <section id="table_customer" class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th colspan="2">Acciones</th>
                </thead>
                <tbody id="body_customer">
                </tbody>
            </table>
        </section>

        <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCfRZW5uc0XmtTsHcUjdqJCTPxw-LMtdEg",
                authDomain: "car-sales-55a2a.firebaseapp.com",
                databaseURL: "https://car-sales-55a2a.firebaseio.com",
                projectId: "car-sales-55a2a",
                storageBucket: "",
                messagingSenderId: "937766623673"
            };
            firebase.initializeApp(config);
        </script>
        <!-- <script src="../../../js/all/jquery.js" charset="utf-8"></script> -->
        <!-- <script src="../../../js/intranet/all/database.js" charset="utf-8"></script> -->
        <script src="../../../js/intranet/customer/list.js" charset="utf-8"></script>
    </body>
</html>
